/* Estrutura do site
*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff url(/img/fundo.png) repeat-x;
}
#container{
    width: 750px;
    margin: 0 auto;
    
}
#topo{
    height: 150px;
    background: url(/img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    border: 1px solid red;
}
.logo{
    width: 152px;
    height: 65px;
    background: url(/img/logo.png) no-repeat center;
}

/* Barra de navegação
*/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul li{
float: left;
}

#topo ul a{
font-size: 0.9em ;
display: block;
padding: 0.5em 1.5em;
}

